<% provide(:title, @user.name) %>
<div>
  <table class="table table-bordered table-condensed user-table">
    <tr>
      <td>名前 : <%= @user.name %></td>
      <td>所属 : <%= @user.affiliation.present? ? @user.affiliation: "未所属" %></td>
      <td>月初日</td>
      <td>月末日</td>
    </tr>
    <tr>
      <td>社員番号 : <%= @user.employee_num.present? ? @user.employee_num: "0" %></td>
      <td><%= l(Date.current, format: :short) %></td>
      <td></td>
      <td></td>
    </tr>
  </table>
</div>

<div>
  <table class="table table-bordered table-condensed table-hover" id="table-items">
    <thead>
      <tr>
        <th width="10%">日付</th>
        <th width="10%">曜日</th>
        <th>備考</th>
      </tr>
    </thead>
    
    <tbody>
      <tr>
        <td>
          <li><%= link_to "原料登録", new_item_path, class: "btn btn-primary" %></li>
          <li><%= link_to "原料一覧", items_path, class: "btn btn-success" %></li>
          <li><%= link_to "製品登録", new_good_path, class: "btn btn-primary" %></li>
          <li><%= link_to "製品一覧", goods_path, class: "btn btn-success" %></li>
        </td>
      </tr>
      <div>
        <%= link_to "生産報告", product_reports_path, class: "btn btn-primary" %>
      </div>
    </tbody>
  </table>
</div>