<% provide(:class_text, "filling-report") %>
<% provide(:button_text, "送信") %>

<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
      <h1 class="modal-title">
        <%= @good.client_name %>  <%= @good.goods_name %> <%= @good.quantity %>包　充填生産報告
      </h1>
    </div>
    <div class="modal-body">
      <div class="col-md-10 col-md-offset-1">
        <%= form_with(model: @good, local: true) do |f| %>
        
          <%= f.label :product_day, class: "label-class" %>
          <%= f.date_field :product_day, value: Time.now.strftime("%Y-%m-%d"), class: "form-control" %>
        
          <%= f.label :lot, class: "label-class" %>
          <%= f.text_field :lot, class: "form-control" %>
          
          <%= f.label :expire, class: "label-class" %>
          <%= f.date_field :expire, class: "form-control" %>
          
          <%= f.label :product_amount, class: "label-class" %>
          <%= f.number_field :product_amount, class: "form-control" %>
        <% end %>
      </div>
      
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <table class="table table-condensed">
            <tr>
              <th>資材</th>
              <th>Lot</th>
              <th>在庫</th>
              <th>使用量</th>
            </tr>
            <tr>
              <td rowspan="2">化粧箱</td>
              <td>12345678</td>
              <td>200箱</td>
              <td>(入力）箱</td>
            </tr>
            <tr>
              <td>987654321</td>
              <td>250箱</td>
              <td>(入力)箱</td>
            </tr>
            <tr>
              <td rowspan="2">ロール</td>
              <td>12345678</td>
              <td>200m</td>
              <td>(入力）m</td>
            </tr>
            <tr>
              <td>987654321</td>
              <td>250m</td>
              <td>(入力)m</td>
            </tr>
            <tr>
              <td rowspan="2">段ボール</td>
              <td>12345678</td>
              <td>200c/s</td>
              <td>(入力）c/s</td>
            </tr>
            <tr>
              <td>987654321</td>
              <td>250c/s</td>
              <td>(入力)c/s</td>
            </tr>
            <tr>
              <td rowspan="2">造粒品</td>
              <td>12345678</td>
              <td>200kg</td>
              <td>(入力）kg</td>
            </tr>
            <tr>
              <td>987654321</td>
              <td>250kg</td>
              <td>(入力)kg</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>