<% provide(:class_text, "item--edit") %>
<% provide(:button_text, "更新") %>

<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
      <h1 class="modal-title">原料情報編集</h1>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <%= form_with(model: @item, local: true) do |f| %>
            <%= render 'shared/error_messages', model: f.object %>
            
            <%= f.label :material_name, class: "label-#{yield(:class_text)}" %>
            <%= f.text_field :material_name, class: "form-control" %>
            
            <%= f.label :contact_order, class: "label-#{yield(:class_text)}" %>
            <%= f.text_field :contact_order, class: "form-control" %>
            
            <%= f.label :unit_price, class: "label-#{yield(:class_text)}" %>
            <%= f.number_field :unit_price, class: "form-control" %>
            
            <p class="">アレルギー物質の有無</p>
            <div>
              <%= f.radio_button :allergy, :false, checked: true %>
              <%= f.label :allergy, "なし", { value: :false, style: "display: inline-block" } %>
              <%= f.radio_button :allergy, :true %>
              <%= f.label :allergy, "あり", { value: :true, style: "display: inline-block" } %>
            </div>
            
            <div class="center">
              <%= f.submit yield(:button_text), class: "btn btn-primary btn-#{yield(:class_text)}" %>
              <button type="button" class="btn btn-default btn-<%= yield(:class_text) %>" data-dismiss="modal">
                キャンセル
              </button>   
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
