<h1>一覧</h1>

<div class="col-md-10 col-md-offset-1">
  <%= will_paginate %>
  <table class="table table-condensed table-hover">
    <thead>
      <tr> 
        <th>原料名</th>
        <th>発注先</th>
        <th>単価</th>
        <th>アレルギー</th>
      </tr>
    </thead>
    
    <% @items.each do |item| %>
      <tr>
        
        <td><%= link_to item.material_name, edit_item_path(item) %></td>
        <td><%= item.contact_order %></td>
        <td><%= item.unit_price %></td>
        <td><%= item.allergy %></td>
        <td>
          <% if current_user.admin? %>
            <%= link_to "削除", item, method: :delete,
            data: { confirm: "削除してよろしいですか？" },
            class: "btn btn-danger" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
  <%= will_paginate %>
</div>