<% provide(:class_text, "product--new") %>
<% provide(:button_text, "完了") %>

<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
      <h3 class="modal-title center"><%= @item.material_name %>の入荷入力フォーム</h3>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <%= form_with(model: @item, url: item_products_path(@item), method: :post, local: true) do |f| %>
            <%= f.fields_for :products do |product| %>
              
              <%= product.label :lot, class: "label-#{yield(:class_text)}" %>
              <%= product.text_field :lot, class: "form-control" %>
              
              <%= product.label :rog_amount, class: "label-#{yield(:class_text)}" %>
              <%= product.number_field :rog_amount, class: "form-control" %>
              
              <%= product.label :expire, class: "label-#{yield(:class_text)}" %>
              <%= product.date_field :expire, class: "form-control" %>
            <% end %>
            
            <div class="center">
              <%= f.submit yield(:button_text), class: "btn btn-primary btn-#{yield(:class_text)}" %>
              <button type="button" class="btn btn-default btn-<%= yield(:class_text) %>" data-dismiss="modal">
                キャンセル
              </button>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>